<div style="width: 800px;"><canvas id="elem-{{.ElementId}}" name="elem-{{.ElementId}}"></canvas></div>
<script>
new Chart(
    document.getElementById("elem-{{.ElementId}}"),
    {
      type: 'bar',
      data: {
        labels: [
            {{range .Labels}}
                {{.}},
            {{end}}
        ],
        datasets: [
          {
            label: '{{.Title}}',
            data: [
                {{range .Data}}
                    {{.}},
                {{end}}
            ],
            backgroundColor:  'rgb(55, 164, 70)',
          }
        ]
      },
options: {
  scales: {
    x: {
      ticks: {
        display: true,
        autoSkip: false
      },
      grid: {
        display: false
      }
    },
    y: {
      grid: {
        display: false
      }
    }
  },
  plugins: {
      title: {
        display: true,
        text: '{{.Title}}',
      },
      legend: {
        display: false
      }
    }
}
    }
  );
</script>
