<script>
var data = [
{{range $year, $yearData := .YearData}}
    {{range $month, $monthData := $yearData}}
        {{range $day, $dayData := $monthData}}
            { date: '{{$dayData.Date.Format "2006-01-02"}}', value: {{$dayData.CommitCount}} },
        {{end}}
    {{end}}
{{end}}
];

var cal = new CalHeatmap();
cal.paint({
data: { source: data, x: 'date', y: 'value' },
domain: { type: 'year'},
subDomain: { type: 'day', width: 13, height: 13},
scale: { color: { type: 'linear', domain: [0, 20], range: ['white', 'green'], interpolate: 'hsl',}, },
verticalOrientation: true,
date: { 
    start: new Date('{{.FirstDate.Format "2006-01-02"}}'),
},
range: {{.Range}}
});
</script>
