<script>
var data = [
{{range $year, $yearData := .Years}}
    {{range $month, $monthData := $yearData.Months}}
        {{range $day, $dayData := $monthData}}
            { date: '{{$dayData.Date.Format "2006-01-02"}}', value: {{$dayData.CommitCount}} },
        {{end}}
    {{end}}
{{end}}
];

var cal = new CalHeatmap();
cal.paint({
data: { source: data, x: 'date', y: 'value' },
domain: { type: 'year'},
subDomain: { type: 'day', width: 13, height: 13},
scale: { 
    color: {
        type: 'threshold',
        range: ['#ededed', '#baebb9', '#4dd05a', '#37a446', '#14432a', ],
        domain: [0,1, 5, 20, 30],
        }, 
    },
verticalOrientation: true,
date: { 
    start: new Date('{{.FirstDate.Format "2006-01-02"}}'),
},
range: {{.Range}}
},
[
    [
      Tooltip,
      {
        text: function (date, value, dayjsDate) {
          return (
            (value ? value : 'No') +
            ' contributions on ' +
            dayjsDate.format('dddd, MMMM D, YYYY')
          );
        },
      },
    ],
    [
      LegendLite,
      {
        includeBlank: true,
        itemSelector: '#ex-ghDay-legend',
        radius: 2,
        width: 11,
        height: 11,
        gutter: 4,
      },
    ],
  ]
);
</script>
