<div style="width: 800px;"><canvas id="{{.ElementId}}"></canvas></div>
<script>
new Chart(
    document.getElementById("{{.ElementId}}"),
    {
      type: 'bar',
      data: {
        labels: [
            {{range .Labels}}
                {{.}},
            {{end}}
        ],
        datasets: [
          {
            label: '{{.Title}}',
            data: [
                {{range .Data}}
                    {{.}},
                {{end}}
            ],
          }
        ]
      },
options: {
  scales: {
    x: {
      ticks: {
        display: true,
        autoSkip: false
      }
    }
  }
}
    }
  );
</script>
